body {
  background-color: aliceblue;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
  list-style: none;
  color: rgba(39, 33, 66, 0.4);
}

.Weather li strong {
  color: rgba(230, 41, 41, 0.607);
  font-weight: 400;
}

li::first-letter {
  text-transform: capitalize;
}
.App {
  margin: 60px auto;
  max-width: 800px;
}

.Weather {
  padding: 40px;
}
.Weather {
  border-radius: 1px solid;
  background-color: #fff;
  border-radius: 16px;
}

.Weather form {
  margin-top: 40px;
  padding-bottom: 30px;
}

.form {
  display: block;
}
.WeatherInfo {
  margin-bottom: 20px;
}

.WeatherForecast {
  margin: 20px 0;
  text-align: center;
}

.weather-temperature img {
  margin-right: 5px;
  height: 84px;
  width: 84px;
}
.forecast-day {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.img {
  display: block;
  margin: 20px auto;
  width: 62px;
}

.forecast-temperature {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.forecast-min-temperature {
  opacity: 0.6;
  margin-left: 10px;
}

.currentTemperature {
  font-size: 40px;
}
.units {
  font-size: 14px;
  position: relative;
  bottom: -7px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

footer {
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
}
