.App {
  margin: 60px auto;
  max-width: 800px;
}

.Weather {
  padding: 40px auto;
  border: 1px solid;
  border-color: blue;
  border-radius: 16px;
}

.Weather form {
  margin-top: 40px;
  padding-bottom: 30px;
}

.form {
  display: block;
}

.Weather li {
  list-style: none;
}
.WeatherForecast {
  margin: 40px 0;
}

.WeatherForecast.forecast-temperature {
  color: rgba(143, 16, 16, 0.979);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.forecast-min-temperature {
  opacity: 0.6;
  margin-left: 10px;
}
